/* Card.module.css */
.card {
    background-color: #EE3E3E;
    width: 265px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius:15px ;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.card h1 {
    background-color: #FFCB05;
    width: 80%;
    border-radius: 5px;
    text-align: center;
}

.card h4{
    background-color: #FFCB05;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

.pokemon{
    width: 300px;
    height: 200px;
}