.container{
    background-color: #EE3E3E;
    margin: 15px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7)
}

.container img{
    display: flex;
}

.container button{
    margin-top: 40px;
    background-color: #FFCB05;
    color: #3864AA;
    width: 250px;
    height: 65px;
    border: 3px solid #EE3E3E;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 24px;
}

.container button:hover{
    background-color: #EE3E3E;
    color: #FFCB05;
    border: 3px solid #3864AA;
}

.container:hover{
    background-color: #3864AA;
}